.footer__column-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 0;
    list-style: none;
    transition: opacity 0.2s linear;
}

.footer__column-link:hover {
    opacity: 0.3;
}