.feynman {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    flex-direction: column;
    position: relative;
    min-height: 790px;
  }
  