.header__link {
color: #2f80ed;
text-decoration: none;
line-height: 25px;
font-size: 18px;
font-weight: normal;
}

.header__link:hover {
  color: black;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}