.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  position: absolute;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  position: absolute;
}

.header__subtitle__link {
color: #2f80ed;
text-decoration: none;
position: absolute;
line-height: 25px;
font-size: 18px;
font-weight: normal;
padding-left: 8px;
}

.header__main-illustration {
 width: 765px;
 height: 608px;
 position: absolute;
 right: 0;
 bottom: 0;
 z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  position: absolute;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__title {
  font-size: 16px;
  color: #2f80ed;
  font-weight: lighter;
  margin: 0;
}

.two-columns__paragraph__with-margin {
  margin-bottom: 30px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digits__section-title {
  display: flex;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 60%;
}

.digits__section-subtitle {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
 justify-content: center;
 width: 60%;
 margin-bottom: 0;
}

.digits__table {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.digits__table__cell {
  width: 250px;
  margin-top: 60px;
}

.feynman {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
  height: 790px;
}


.feynman__title {
  display: flex;
  width: 648px;
  z-index: 1;
  margin-top: 100px;
}

.feynman__title-text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.feynman__subtitle {
  display: flex;
  z-index: 1;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.logo_place_feynman {
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  position: absolute;
}

.feynman__link {
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  right: 48px;
  position: absolute;
  top: 395px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}